relay/live_intake_blueprint.template.json
{
    "name": "Salla | Live Order Intake",
    "flow": [
        {
            "id": 1,
            "module": "salla:WhenOrderCreated",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 0
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Order Created (Salla)"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Create a NEW webhook on import"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:salla15",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 0
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                    "1": "{{1.data.id}}",
                    "2": "{{1.data.reference_id}}",
                    "3": "order.created",
                    "4": "queued",
                    "5": "0",
                    "6": "webhook",
                    "7": ""
                },
                "sheetId": "Live Queue",
                "spreadsheetId": "/REPLACE_WITH_LIVE_QUEUE_SPREADSHEET",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "useColumnHeaders": false,
                "valueInputOption": "RAW",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Enqueue (Live Queue, RAW)"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Live Queue"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Salla Live Queue"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "useColumnHeaders": {
                            "label": "No"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "Raw"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Your Google Sheets connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 3,
                    "module": "builtin:Break",
                    "version": 1,
                    "mapper": {
                        "retry": true,
                        "count": "10",
                        "interval": "15"
                    },
                    "metadata": {
                        "designer": {
                            "x": 300,
                            "y": 300,
                            "name": "Retry later (never drop an event)"
                        },
                        "parameters": [
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of consecutive errors",
                                "required": true
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts (minutes)",
                                "required": true
                            },
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Retry"
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}